@import "./assets/fonts/iconfont.css";
* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
div,
section,
body,
html {
  padding: 0;
  margin: 0;
}
#root,
body,
html,
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.app {
}
#root {
  background: #f3f5f7;
}
img {
  vertical-align: middle;
}
